  <div id="<%= dom_id book %>" class="books">
    <img src="<%= book.picture_url %>" alt="<%= book.title %>">
    <div class="Titles">
      <h4 > <%= book.title %> </h4>
      <p >Author : <%= book.author %></p>
      <p >Year : <%= book.year %> </p>
      <p >Edition : <%= book.edition %> </p>
      <p >Publisher :  <%= book.publisher %></p>
      <p >Avaible : <%= book.quantity %> </p>
      <p >Rating : <%= book.rate || '-' %>/5 </p>
      <%= button_to('Borrow', book_borrower_records_path(book.id), method: :post, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-2') %>
    </div>
  </div>
